@model DAS.Domain.Models.DAS.Category

@{
    ViewData["Title"] = "Edit";
    ViewData["PageHeaderContent"] = "Chính sửa thông tin danh mục";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title">Chỉnh sửa</div>
            </div>
            <form role="form" asp-action="Edit">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ID" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Code" class="control-label"></label>
                        <input asp-for="Code" class="form-control" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>

                    @*<div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>*@
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <input type="button" data-url="/Category/Edit" data-type="html" value="Save" class="btn btn-primary QuickSubmitJS" />
                        <a asp-action="Index" class="btn btn-primary">Back to List </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>