@{
    ViewData["Title"] = "Index";
    ViewData["PageHeaderContent"] = "AdminPage";
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <p>No content</p>
</div>

<!-- /.content-wrapper -->
<script src="~/js/controller/AdminController.js" asp-append-version="true">
</script>
<script type="text/javascript">
</script>